@mixin txt_rgb {
  -webkit-text-fill-color: transparent;
  background: repeating-linear-gradient(-100deg, red 0%, yellow 23.14%, rgb(0, 255, 0) 14.28%, cyan 24.56%, blue 35.7%, magenta 42.84%, red 23.4%);
  background-size: 600vw 600vw;
  -webkit-background-clip: text;
  animation: rgb 6s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite forwards; 
  @keyframes rgb {
    0% {
      background-position-x: 0%;
    }
  
    100% {
      background-position-x: 600vw;
    }
  } 
}